<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      th:with="title=#{${#httpServletRequest.getServletPath() == '/project/new' ? 'project.new.title' : 'project.edit.title'}}">
<body>
<div layout:fragment="content" ng-app="editProjectApp">
    <form name="project" action="" class="sky-form" th:object="${project}" ng-controller="formCtrl">
        <fieldset>
            <section>
                <label class="input">
                    <input type="text" th:placeholder="#{project.form.name}" th:field="*{name}" required="required"/>
                </label>
            </section>
            <section>
                <div class="inline-group">
                    <label class="checkbox"><input name="checkbox-inline" type="checkbox" ng-model="useVersionUrl"/>
                        <i></i>
                        <span th:text="#{project.form.has.version.url}"></span>
                    </label>
                </div>
            </section>
            <section class="clearfix">
                <label for="version" class="input input-file">
                    <div class="button" ng-show="useVersionUrl">
                        <input id="version-test" type="text" ng-click="testVersionUrl(version)"/>
                        <span th:text="#{project.form.version.test}"></span>
                    </div>
                    <input id="version" type="text" th:placeholder="#{project.form.version}" th:field="*{version}"
                           ng-model="version" required="required"/>
                </label>
            </section>
            <section>
                <label for="url" class="input input-file">
                    <div class="button">
                        <input id="url-test" type="text" ng-click="testActuatorUrl(url)"/>
                        <span th:text="#{project.form.url.test}"></span>
                    </div>
                    <input id="url" type="text" th:placeholder="#{project.form.url}" th:field="*{url}" ng-model="url"/>
                </label>
            </section>
        </fieldset>

        <footer>
            <button type="submit" class="btn-u">Submit</button>
            <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
        </footer>
    </form>
</div>
<script layout:fragment="specificjs" th:src="@{/js/pages/edit-project.js}">
</script>
</body>
</html>