<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head" th:replace="/fragments/head :: ${isDevMode} ? 'dev' : 'prod'"></head>
<body>
<div layout:fragment="header" th:replace="/fragments/header :: default"></div>
<aside layout:fragment="aside" th:replace="/fragments/aside :: default"></aside>
<div id="main">
    <div layout:fragment="ribbon" th:replace="/fragments/ribbon :: default"></div>
    <div id="content">
        <!-- Contenu de la page -->
    </div>
</div>
<div layout:fragment="footer" th:replace="/fragments/footer :: default"></div>
<div layout:fragment="jslibs" th:replace="/fragments/jslibs :: ${isDevMode} ? 'dev' : 'prod'"></div>
<div layout:fragment="specificjs"></div>
</body>
</html>