<div class="navbar navbar-default navbar-fixed-bottom copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="copyright-space">
                2014 | Suivi de production | Version 0.0.1 |
                <a href="mailto:jocelyn.ntakpe@sopragroup.com"><span class="icon-envelope"></span> Contact</a>
            </p>
        </div>
        <div class="col-md-2">
            <ul class="social-icons">
                <li><a href="https://github.com/jntakpe" data-original-title="Github" class="social_github"></a></li>
                <li><a href="https://twitter.com/jntakpe" data-original-title="Twitter" class="social_twitter"></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <a href="index.html">
                <img id="logo-footer" src="img/logo2-blue.png" class="pull-right" alt=""/>
            </a>
        </div>
    </div>
</div>