<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Title bar -->
<div th:fragment="breadcrumb" class="breadcrumbs">
    <!-- Home -->
    <div class="container" th:if="${#httpServletRequest.getServletPath()} == '/'">
        <h1 class="pull-left" th:text="#{home.menu}"></h1>
        <ul class="pull-right breadcrumb">
            <li class="active" th:text="#{home.menu}"></li>
        </ul>
    </div>
    <!-- 1 level (1 variable : 'title' -> titre de la page courante)-->
    <div class="container"
         th:if="${#httpServletRequest.getServletPath()} != '/' and ${title} != null and ${title2} == null">
        <h1 class="pull-left" th:text="${title}"></h1>
        <ul class="pull-right breadcrumb">
            <li><a th:href="@{/}" th:text="#{home.menu}"></a></li>
            <li class="active" th:text="${title}"></li>
        </ul>
    </div>
    <!-- 2 levels (3 variables : 'title' -> titre de la page courante, 'title2' -> titre du niveau parent, 'link2' -> lien vers le niveau parent) -->
    <div class="container" th:if="${title} != null and ${title2} != null and ${title3} == null">
        <h1 class="pull-left" th:text="${title}"></h1>
        <ul class="pull-right breadcrumb">
            <li><a th:href="@{/}" th:text="#{home.menu}"></a></li>
            <li><a th:href="${/link2}" th:text="${title2}"></a></li>
            <li class="active" th:text="${title}"></li>
        </ul>
    </div>
</div>
</body>
</html>