<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside id="left-panel" th:fragment="default">
    <div class="login-info">
    <span>
    <a href="javascript:void(0);" id="show-shortcut"><img alt="me" class="online" src="img/avatars/sunny.png"/><span>John DOE</span></a>
    </span>
    </div>
    <nav>
        <ul>
            <li class=""><a href="ajax/dashboard.html" title="Dashboard"><span class="menu-item-parent">Dashboard</span></a></li>
            <li>...</li>
            <li>
                <a href="#"><span class="menu-item-parent">Graphs</span></a>
                <ul>
                    <li><a href="ajax/flot.html">...</a></li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
	</span>
</aside>
</html>