<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="default">
    <div id="logo-group">
        <span id="logo"><img alt="ActuatorUILogo" th:src="@{/img/logo.png}"/></span>

        <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge bounceIn animated">0</b> </span>

        <div class="ajax-dropdown">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">TODO</label>
                <label class="btn btn-default">TODO</label>
                <label class="btn btn-default">TODO</label>
            </div>

            <div class="ajax-notifications custom-scroll">
                [DROPDOWN_CONTENT]
            </div>

            <span>Last updated on: 12/12/2013 9:43AM</span>
        </div>
    </div>

    <div id="project-context">
        <span id="current-project" class="label" th:text="#{header.projects}"></span>
        <span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">Current project</span>
        <ul class="dropdown-menu">
            <li>...</li>
        </ul>
    </div>

    <div class="pull-right">
        <div class="btn-header transparent pull-right" id="logout">
            <span><a th:title="#{header.signout}"><i class="fa fa-sign-out"></i></a></span>
        </div>
        <div class="btn-header pull-right" id="hide-menu">
            <span><a href="javascript:void(0);" th:title="#{header.collapse.menu}" data-action="toggleMenu">
                <i class="fa fa-reorder"></i>
            </a></span>
        </div>
        <div class="btn-header transparent pull-right" id="search-mobile">
            <span><a href="javascript:void(0)" title="Search"><i class="fa fa-times"></i></a></span>
        </div>
        <div class="btn-header transparent pull-right" id="fullscreen">
            <span>
                <a href="javascript:void(0);" data-action="launchFullscreen" th:title="#{header.fullscreen}">
                    <i class="fa fa-arrows-alt"></i>
                </a>
            </span>
        </div>
        <form action="#ajax/search.html" class="header-search pull-right">
            <input id="search-fld" name="param" placeholder="Find reports and more" type="text"/>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"></a>
        </form>
    </div>
</header>
</html>