<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="dev">
    <meta charset="utf-8"/>
    <meta th:content="#{app.description}" name="description"/>
    <meta content="jntakpe" name="author"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

    <title th:text="#{app.name} + ' | ' + ${title}"></title>

    <link th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" media="screen" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/bower_components/font-awesome/css/font-awesome.css}" media="screen" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/unify.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom-sky-forms.css}" rel="stylesheet"/>
    <link th:href="@{/css/aui.css}" media="screen" rel="stylesheet" type="text/css"/>
    <link th:if="${css} != null" rel="stylesheet" th:href="@{/css/pages/} + ${css} + '.css'"/>
    <link th:href="@{/css/unify-theme.css}" rel="stylesheet"/>
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link th:href="@{/img/favicon.ico}" rel="icon" type="image/x-icon"/>
</head>

<head th:fragment="prod">

</head>
</html>