<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="dev" th:remove="tag">
    <script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
    <script th:src="@{/bower_components/jquery-ui/jquery-ui.js}"></script>
    <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
    <script th:src="@{/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js}"></script>
    <script th:src="@{/bower_components/jquery.sparkline/dist/jquery.sparkline.js}"></script>
    <script th:src="@{/bower_components/jquery-validation/dist/jquery.validate.js}"></script>
    <script th:src="@{/bower_components/jquery-validation/src/localization/messages_fr.js}"></script>
    <script th:src="@{/bower_components/jquery.maskedinput/jquery.maskedinput.js}"></script>
    <script th:src="@{/bower_components/select2/select2.js}"></script>
    <script th:src="@{/bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js}"></script>

    <script th:src="@{/js/smartadmin-config.js}" type="text/javascript"></script>
    <script th:src="@{/js/smartadmin.js}" type="text/javascript"></script>
    <script th:src="@{/js/aui-plugin.js}" type="text/javascript"></script>
    <script th:src="@{/js/aui.js}" type="text/javascript"></script>
</div>

<div th:fragment="prod" th:remove="tag">
    <!--[if IE 9]>
    <script th:src="${staticRoot + '/static/js/eers-core-ie9-libs.js'}" type="text/javascript"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script th:src="${staticRoot + '/static/js/eers-core-libs.js'}" type="text/javascript"></script>
    <!--<![endif]-->
</div>
</html>