<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      th:with="title=#{${#httpServletRequest.getServletPath() == '/project/new' ? 'project.new.title' : 'project.edit.title'}}">
<body>
<div layout:fragment="content">
    <div class="shadow-wrapper margin-bottom-60">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <h2>Title Name</h2>

            <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non
                libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
        </div>
    </div>
</div>
<script layout:fragment="specificjs">
</script>
</body>
</html>