<!DOCTYPE html>
<html id="extr-page" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: ${isDevMode} ? 'dev' : 'prod'"></head>

<body class="animated fadeInDown">
<header id="header">
    <div id="logo-group">
        <span id="logo"><img alt="ActuatorUILogo" th:src="@{/img/logo.png}"/></span>
    </div>
    <span id="extr-page-header-space"><span class="hidden-mobile" th:text="#{login.already.user}"></span>
        <a th:href="@{/login}" class="btn btn-danger" th:text="#{register.btn.login}"></a></span>
</header>

<div id="main" role="main">
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-red login-header-big">
                    <span th:text="#{login.title}"></span> -
                    <small><span th:text="#{login.title.description}"></span></small>
                </h1>
                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header" th:text="#{login.description.app}"></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form th:action="@{/register}" id="register-form" class="smart-form client-form" method="post" th:object="${user}">
                        <header th:text="#{register.header}"></header>
                        <fieldset>
                            <section>
                                <label class="label" th:text="#{register.username}"></label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input th:field="*{login}" type="text" th:placeholder="#{register.username}"/>
                                </label>
                            </section>
                            <section>
                                <label class="label" th:text="#{register.email}"></label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input th:field="*{email}" type="email" th:placeholder="#{register.email}"/>
                                </label>
                            </section>
                            <section>
                                <label class="label" th:text="#{register.password}"></label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input th:field="*{password}" type="password" th:placeholder="#{register.password}"/>
                                </label>
                            </section>
                            <section>
                                <label class="label" th:text="#{register.confirm.password}"></label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input th:field="*{confirmPassword}" type="password" th:placeholder="#{register.confirm.password}"/>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                <span th:text="#{register.action}"></span>
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/jslibs :: ${isDevMode} ? 'dev' : 'prod'"></div>
<script type="text/javascript">
    $(function () {
        runAllForms();
        $("#register-form").auiValidate({
            rules: {
                username: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                confirmPassword: {
                    required: true,
                    minlength: 3,
                    maxlength: 20,
                    equalTo: "#password"
                }
            }
        });
    });
</script>
</body>
</html>